<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Admin Registeration</title>
    <link rel="stylesheet" href="css/auth.css">
  </head>
  <body>
  <h1>Evolve 2.0</h1>
  <h2>@TonyDeCost has Invited you to<br> register as ADMIN:</h2>
  <form class="ev_auth" action="/admin_register" method="post">
    Username :<input type="text" name="username" > <br> <br>
    Password :<input type="password" name="password" > <br> <br>
    <p>Already have an admin account? <a href="/">Click here</a> to login</p>
    <button type="submit" name="ev-auth" value="ev-auth">Submit</button>
  </form>
  </body>
</html>
