<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>Calulator</title>
    <style>

    .hidden{
      display:none
    }
    body {
       font-family: 'Roboto', sans-serif;
      background-color: #000;
      color: #fff;
    }

    h1,
    h2,
    h3 {
      color: lightgreen;
      text-align: center;
      margin-top: 30px;
    }
    label{
      font-size:18px;
    }
    .section {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #111;
      border-radius: 5px;
      margin-top: 30px;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    input[type="text"],
    input[type="number"],
    select {
      margin-bottom:25px;
      width: 100%;
      padding: 5px;
      border-radius: 3px;
      border: none;
      background-color: #222;
      color: #fff;
    }

    input[type="submit"],
    button {

      padding: 10px 20px;
      background-color: #4CAF50;
      color: black;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover,
    button:hover {
      background-color: lightgreen;
    }

    option[disabled] {
      color: #888;
    }

    .section {
      margin-bottom: 20px;
    }

    .section label {
      margin-bottom: 5px;
    }

    .section .input-group {
      display: flex;
    }

    .section .input-group-addon {
      background-color: #222;
      color: #fff;
      padding: 5px 10px;
      border-radius: 3px;
      border: none;
    }

    @media (max-width: 768px) {
      form {
        padding: 10px;
      }
    }

    .navbar{
      margin-bottom:50px;
      background: #1A1A1A;
    }
    .navbar-brand {
      color:lightgreen;
      font-weight: bold;
      font-size: 2rem;
    }

    .nav-link {
      color:lightgreen;
      font-weight: bold;
      font-size: 1.2rem;
      margin-left: 1.5rem;
    }
    .nav-link:hover {
      color:green;
    }
    .navbar-brand:hover{
      color:green;
    }

    @media (max-width: 768px) {
      .navbar-nav {
        flex-direction: column;
        align-items: center;
      }

      .nav-link {
        margin-left: 0;
        margin-top: 1rem;
      }
    }

    /* footer css */

    footer {
        background: #3e8e41;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 60px 0;
      margin-top:50px;
    }

    #footer .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
    }

    .social-icons a {
      color: #333333;
      font-size: 24px;
      margin-right: 10px;
      transition: color 0.3s ease-in-out;
    }

    .social-icons a:hover {
      color: white;
    }

    #footer p {
      margin: 0;
      font-size: 18px;
      color: #333333;
    }

    @media screen and (max-width: 768px) {
      /* adjust layout for smaller screens */
      #footer h1 {
        font-size: 36px;
      }

      #footer h2 {
        font-size: 20px;
      }

      /* form.ev {
        margin: 20px 15px;
        max-width: 400px;
      }
     */
      /* adjust button styles */
      #footer button {
        padding: 8px 16px;
        font-size: 14px;
      }

      /* adjust footer styles */
      .social-icons {
        margin-bottom: 20px;
      }

      #footer p {
        font-size: 16px;
      }
    }
  </style>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand" href="/">EV Dekho</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span style='color:white;background-image: url("https://www.clipartmax.com/png/full/36-365828_navbar-toggle-icon-menu-hamburger-png-white.png");' class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul style="margin-right: 30px;" class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/evdb">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/requirements">Explore</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/compare">Compare</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
    </nav>
  </header>
  <body>
    <h1 style="font-size:60px;" >Calculate your savings !</h1>
    <form class="cal" action="/calculatorres" method="post" >
      <div class="section">
    <span ><label>Please select the type of vehicle which you have currently =</label>
    <select onchange="carbon()" name="vehicle_type" value="select" id="vehicle_type" required>
      <option value="" selected disabled hidden>Choose here</option >
      <option id="petrol_vehicle" value="Petrol">Petrol Vehicle</option>
      <option id="diesel_vehicle" value="Diesel">Diesel Vehicle</option>
    </select>
  </span>

    <label>Select your EV =</label>
    <select style="margin-bottom:15px;" name="ev" id="ev" onchange="hide()">
  <option value="volvo">Ola</option>
  <option value="Ather">Ather</option>
  <option value="SimpleOne">SimpleOne</option>
</select>
<br>
<button style="margin-bottom:25px;" type="button" onclick="nothidden()" name="button">Please click here if your EV is not in the list</button>

      <input hidden type="number" name="key" id="key">
<label for="distance">How many kms do you travel everyday ?</label> <input required type="number" name="distance" id="distance" placeholder="20 kms"> <br>
</div>
<div class="section">
      <h2 style="margin-top:10px;">For your <span class="PorD">Petrol/Diesel</span> Vehicle</h2>
      <label for="milage">Your <span class="PorD">Petrol/Diesel</span> vehicle's milage ?</label> <input required type="number" id="milage" name="milage" placeholder="50 kms"> <br>
      <label for="petrol">Enter the <span class="PorD">Petrol/Diesel</span> price in your area = </label> <input required type="number" id="petrol" name="petrol" placeholder="100Rs"> <br>
      <label for="service-p">Service charges / year for <span class="PorD">Petrol/Diesel</span> vehicle = </label> <input required type="number" id="service-p" name="service" placeholder="2000Rs"> <br>
</div>
<div class="section">
      <h2 style="margin-top:15px;">For EV =</h2>

      <div id="hide">
      <label  for="e-consumption">Electricity consumption of your EV vehicle per charge = </label> <input type="number" id="e-consumption" name="consumption" placeholder="3Kw"><br>

      <label  for="range">Range for your EV : </label><input type="number" name="range" id="range"  placeholder="100 Kms">  <br>
    </div>

      <label for="e-charges">Electricity charges per Kw in your city = </label><input required id="e-charges" type="number" name="charges" placeholder="7Rs">
      <br>
      <button style="width:100%;" onclick="" type="submit" name="Calculate">Calculate</button>

    </form>
</div>
<p style="text-align:center;color:lightgreen;">* Placeholder values are only for your reference ...Kindly fill all the inputs :}</p>
<footer id="footer">
<div class="container">
  <div class="social-icons">
    <a href="https://in.linkedin.com/in/sammed-jain-663572203"><i class="fab fa-linkedin fa-lg"></i></a>
    <a href="https://github.com/sammedcjain"><i class="fab fa-github fa-lg"></i></a>
    <a href="https://www.instagram.com/sammysammed/"><i class="fab fa-instagram fa-lg"></i></a>
    <a href="https://twitter.com/sammysammed"><i class="fab fa-twitter fa-lg"></i></a>
  </div>
  <p>@sammysammed - EV Dekho</p>
</div>
</footer>
    <script src="./js/cal.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://kit.fontawesome.com/1465e7da9e.js" crossorigin="anonymous"></script>
  </body>
</html>
